{% extends "base.html" %}
{% block title %}mytitle{% endblock %}
{% block content %}<p> Hello X</p>{% endblock %}
<footer class="footer"> 
    <p>&copy; 2025 CS Project</p> 
    <a href="/contact">Contact</a> |
    <a href="/about">About</a> |
    <a href="/privacy">Privacy Policy</a> 
</footer>
<div class="dropdown">
  <button class="dropbtn">Select Items</button>
  <div class="dropdown-content">
    <input type="checkbox" id="2023"
        value="2023"><label for="2023">2023</label><br>
    <input type="checkbox" id="2022"
        value="2022"><label for="2022">2022</label><br>
    <input type="checkbox" id="2021"
        value="2021"><label for="2021">2021</label><br>
  </div>
</div>
